<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 

<!-- springIOC的注解 -->
<!-- 使用不需要扫描类就可以使用一些属性注入方面的注解-->
	<context:annotation-config></context:annotation-config>
	<bean id="userDao" class="cn.itcast01.demo3.UserDao"></bean>
	<bean id="orderDao" class="cn.itcast01.demo3.OrderDao"></bean>
	<bean id="userService" class="cn.itcast01.demo3.UserService">
	
	</bean>

</beans>