<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">  
	
	<!-- 定义一个任务类 -->
	<bean id="mailJob" class="cn.itcast.erp.job.MailJob">
		<property name="storedetailBiz" ref="storedetailBiz"></property>
	</bean>
	<!-- 任务类描述 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的哪个类 -->
		<property name="targetObject" ref="mailJob"></property>
		<!-- 调用的是哪个方法 -->
		<property name="targetMethod" value="sendStorealertMail"></property>
	</bean>
	<!-- 触发器  -->
	<bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail"></property>
		<!-- cron：7子表达式 -->
		<property name="cronExpression" value="10,40 * * * * ? *"></property>
	</bean>
	<!-- 任务调度管理容器 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
				<!-- <ref bean="mailTrigger"/> -->
			</list>
		</property>
	</bean>
	
</beans>
	
