<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JqueryDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>cn.itcast02_Servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YonghuDemo</display-name>
    <servlet-name>YonghuDemo</servlet-name>
    <servlet-class>cn.itcast02_Servlet.YonghuDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YonghuDemo</servlet-name>
    <url-pattern>/YonghuDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>cn.itcast02_Servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindWordServlet</display-name>
    <servlet-name>FindWordServlet</servlet-name>
    <servlet-class>cn.itcast04_CopyBaidu.FindWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindWordServlet</servlet-name>
    <url-pattern>/FindWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>cn.itcast05_ShengShi_xml.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitySevlet1</display-name>
    <servlet-name>CitySevlet1</servlet-name>
    <servlet-class>cn.itacast06_ShengShi_json.CitySevlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitySevlet1</servlet-name>
    <url-pattern>/CitySevlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet02</display-name>
    <servlet-name>CityServlet02</servlet-name>
    <servlet-class>itacast06_ShengShi_json/CityServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet02</servlet-name>
    <url-pattern>/CityServlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet22</display-name>
    <servlet-name>CityServlet22</servlet-name>
    <servlet-class>cn.itacast06_ShengShi_json.CityServlet22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet22</servlet-name>
    <url-pattern>/CityServlet22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet33</display-name>
    <servlet-name>CityServlet33</servlet-name>
    <servlet-class>cn.itacast06_ShengShi_json.CityServlet33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet33</servlet-name>
    <url-pattern>/CityServlet33</url-pattern>
  </servlet-mapping>
</web-app>