[loggers]
keys = root
[handlers]
keys = logfile

[formatters]
keys = generic

[logger_root]
handlers = logfile
level = DEBUG

[handler_logfile]
class = handlers.TimedRotatingFileHandler
args = ['app1.log','midnight',1,10]

formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s] %(message)s
