<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	<bean id ="depDao" class="cn.itcast.erp.dao.impl.DepDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id ="depBiz" class="cn.itcast.erp.biz.impl.DepBiz">
		<property name="depDao" ref="depDao" ></property>
	</bean>
	<bean id="depAction" class="cn.itcast.erp.action.DepAction" scope="prototype" >
		<property name="depBiz" ref="depBiz"></property>
	</bean>
	
</beans>
	
